version: '2.0'
services:
  dglab_coyote_remote:
    build: .
    restart: unless-stopped
    mem_limit: 512m
    ports:
      - "127.0.0.1:18970:18970"
    env_file:
      - 1panel.env
    logging:
        driver: "json-file"
        options:
            max-file: "2"
            max-size: "10m"